<div>
  <mat-form-field appearance="fill">
    <mat-label>Search Dish</mat-label>
    <input matInput placeholder="Dish name" (input)="onSearch($event)">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select (selectionChange)="onCategorySelect($event.value)">
      <mat-option *ngFor="let category of categories" [value]="category.strCategory">
        {{ category.strCategory }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- List of dishes -->
  <mat-grid-list [cols]="cols" rowHeight="350px" gutterSize="10px">
    <mat-grid-tile *ngFor="let meal of meals">
      <mat-card class="meal-card">
        <mat-card-header>
          <mat-card-title>{{ meal.strMeal }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="meal.strMealThumb + '/preview'" alt="{{ meal.strMeal }}">
        <mat-card-actions class="card-actions">
          <button mat-raised-button (click)="onDetails(meal.idMeal)">Details</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
