.meals-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-content {
  padding: 10px;
}

mat-card-actions {
  margin-top: auto;
}

.meal-card {
  position: relative;
}

.card-actions {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.meal-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.active {
  background-color: #f0f0f0;
}

.card-actions {
  margin-top: auto;
}


.sidenav-container {
  height: 100vh;
  overflow: hidden;
}

.sidenav {
  position: fixed;
  max-height: 100vh;
  overflow: auto;
}
