<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <h3>Categories</h3>
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let category of categories"
        (click)="onCategorySelect(category.strCategory)"
        [class.active]="selectedCategory === category.strCategory"
      >
        {{ category.strCategory }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Search Dish</mat-label>
        <input matInput placeholder="Dish name" (input)="onSearch($event)" />
      </mat-form-field>

      <!-- List of dishes -->
      <mat-grid-list [cols]="cols" rowHeight="350px" gutterSize="10px">
        <mat-grid-tile *ngFor="let meal of meals">
          <mat-card class="meal-card">
            <mat-card-header>
              <mat-card-title>{{ meal.strMeal }}</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              [src]="meal.strMealThumb + '/preview'"
              alt="{{ meal.strMeal }}"
            />
            <mat-card-actions class="card-actions">
              <button mat-raised-button (click)="onDetails(meal.idMeal)">
                Details
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
